* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #7a3f6b, #7a3f6b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #ffffff;
    width: 380px;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #f5ecf3;
    margin-bottom: 90px;
    font-size: 30px;
    transform: translateX(-50px);
}

label {
    display: block;
    color: #fafafc;
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    border: 1px solid #fdfdfd;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

input:focus {
    border-color: #fcf8fb;
    box-shadow: 0 0 0 3px rgba(36, 59, 85, 0.15);
}

button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #000000;
    color: rgb(243, 237, 242);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #d393ce;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(0);
}